@media (max-width: 340px) {
    .container {
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }

    .section__title {
        font-size: var(--fs-big);
    }

    .home__img {
        width: 200px;
        top: -13rem;
    }

    .home__title {
        top: -4rem;
        font-size: var(--fs-bigger);
    }

    .home__data {
        padding-top: 1rem;
    }

    .home__description {
        font-size: var(--fs-sm);
    }

    .specs__img {
        width: 200px;
    }

    .case__container {
        grid-template-columns: 0.6fr 1fr;
    }

    .case__img {
        width: 220px;
        top: -2rem;
        left: -9rem;
    }

    .case__data {
        padding: 0;
    }

    .products__container {
        grid-template-columns: 142px;
        justify-content: center;
    }
}

@media (min-width: 576px) {
    .home__container {
        grid-template-columns: 0.8fr 1fr;
    }

    .home__data {
        padding-top: 2rem;
    }

    .home__img {
        top: -7rem;
        left: 0;
    }

    .specs__img {
        position: initial;
    }

    .specs__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .case__img {
        position: initial !important;
    }

    .case__data {
        padding: 0;
    }

    .case__container {
        grid-template-columns: max-content 250px;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }

    .discount__img {
        position: initial !important;
    }

    .discount__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .products__container {
        grid-template-columns: repeat(3, 142px);
        justify-content: center;
    }
}

@media (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__logo {
        width: 2rem;
    }

    .nav__list {
        flex-direction: row !important;
        column-gap: 3.5rem;
    }

    .nav__link {
        font-size: var(--fs-md);
        text-transform: initial;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .home__container {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }

    .home__img {
        top: -9rem;
        left: 4rem;
    }

    .home__data {
        padding-top: 8rem;
    }

    .specs__img {
        width: 300px;
    }

    .case__container {
        column-gap: 5rem;
    }

    .case__img {
        width: 300px !important;
    }

    .case__description {
        margin-bottom: var(--mb-4);
    }

    .discount__container {
        grid-template-columns: 250px max-content;
        justify-content: center;
        column-gap: 5rem;
        padding: 3rem 0;
    }

    .discount__title {
        font-size: var(--fs-xl);
        margin-bottom: var(--mb-2);
    }

    .discount__description {
        margin-bottom: var(--mb-4);
    }

    .products__container {
        grid-template-columns: repeat(3, 163px) !important;
        gap: 6rem 3rem;
        padding-top: 5rem;
    }

    .products__card {
        height: 152px;
        padding: 0.85rem;
    }

    .products__img {
        width: 95px;
    }

    .footer__container {
        grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr !important;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        width: 300px;
        top: -15rem;
    }

    .home__title {
        top: -5rem;
        left: 3.5rem;
    }

    .home__description {
        padding-right: 5rem;
    }

    .sponsor__img {
        width: 100px;
    }

    .discount__img {
        width: 350px;
    }

    .specs__img {
        width: 400px !important;
        right: -8rem !important;
    }

    .footer__container {
        padding-top: 3rem;
    }

    .footer__copy {
        margin-top: 9rem;
    }
}