.discount__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
}

.discount__title {
    font-size: var(--fs-lg);
    margin-bottom: var(--mb-1);
}

.discount__description {
    margin-bottom: var(--mb-2);
}

.discount__img {
    width: 300px;
    position: absolute;
    top: 4rem;
    right: -11rem;
}