.products__line {
    line-height: 6rem;
}

.products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 1.5rem;
    padding-top: 3rem;
}

.products__card {
    position: relative;
    height: 132px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
}

.products__img {
    width: 80px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: -3rem;
}

.products__content {
    align-self: flex-end;
}

.products__title,
.products__price {
    font-size: var(--fs-sm);
}

.products__price {
    font-weight: var(--fw-semi-bold);
}

.products__button {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.35rem;
}