.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: 0.25rem;
    padding: 0.45rem;
    opacity: 9;
    z-index: var(--zi-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--black-color);
    opacity: 1;
}

.scrollup__icon {
    color: var(--white-color);
    font-size: 1.35rem;
}

.show-scroll {
    bottom: 5rem;
}